
[package]
name = "sourmash_plugin_directsketch"
version = "0.1.0"
edition = "2021"

[lib]
name = "sourmash_plugin_directsketch"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.21.2", features = ["extension-module", "anyhow"] }
rayon = "1.10.0"
serde = { version = "1.0.200", features = ["derive"] }
sourmash = { version = "0.13.1", features=["branchwater"]}
serde_json = "1.0.116"
niffler = "2.4.0"
needletail = "0.5.1"
#zip = { version = "0.6", default-features = false, features = ["deflate"] }
async_zip="0.0.6"
simple-error = "0.3.0"
anyhow = "1.0.82"
camino = "1.1.6"
csv = "1.3.0"
reqwest = { version = "0.12.4", features = ["json"] }
tokio = { version = "1.37.0", features = ["full"] }
regex = "1.10.4"
openssl = { version = "0.10", features = ["vendored"] }

[profile.release]
#target-cpu=native
lto = "thin"
opt-level = 3

