
[package]
name = "sourmash_plugin_directsketch"
version = "0.2.0"
edition = "2021"

[lib]
name = "sourmash_plugin_directsketch"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.21.2", features = ["extension-module", "anyhow"] }
rayon = "1.10.0"
serde = { version = "1.0.200", features = ["derive"] }
sourmash = { version = "0.13.1"}
serde_json = "1.0.116"
niffler = "2.4.0"
needletail = "0.5.1"
#zip = { version = "0.6", default-features = false, features = ["deflate"] }
async_zip={version="0.0.17", features=["full"]}
simple-error = "0.3.0"
anyhow = "1.0.82"
camino = "1.1.6"
csv = "1.3.0"
reqwest = { version = "0.12.4", features = ["json", "stream"] }
tokio = { version = "1.37.0", features = ["full"] }
tokio-util = "0.7.11"
regex = "1.10.4"
chrono = "0.4.32"
lazy_static = "1.4.0"
md5 = "0.7.0"
openssl = { version = "0.10", features = ["vendored"] }
futures = "0.3.30"

[build-dependencies]
pyo3-build-config = { version = "0.21.2", features = ["resolve-config"] }

[profile.release]
#target-cpu=native
lto = "thin"
opt-level = 3

